{% extends 'base.html.twig' %}

{% block main %}
    <h3 style="color: red">{{ msg }}!!!</h3>
<div class="jivko">
    <legend>You have {{ gladiator.lP }} LP</legend>
    {{ form_start(form) }}
    {% form_theme form 'form/fields.html.twig' %}

    {{ form_widget(form) }}
    <input class="btn btn-default" type="submit" name="submit">
    {{ form_end(form) }}
</div>
{% endblock %}